--find-links https://download.pytorch.org/whl/cu118
torch==2.2.1+cu118
torchvision==0.17.1+cu118
--find-links https://download.pytorch.org/whl/torch_stable.html
accelerate==0.27.2
gradio==4.23.0
python-dotenv==1.0.1
transformers==4.38.0
numpy==1.26.4
kornia==0.7.1
insightface==0.7.3
llama-cpp-python==0.2.26
opencv-python==4.9.0.80
tqdm==4.66.3
matplotlib==3.8.2
webdataset==0.2.86
wandb==0.16.3
munch==4.0.0
onnxruntime==1.17.0
einops==0.7.0
onnx2torch==1.5.13
peft==0.8.2
diffusers==0.27.2
warmup-scheduler @ git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git
torchtools @ git+https://github.com/pabloppp/pytorch-tools
